<template>
	<div class="dealer">
		<div v-if="!dealerActive">
			<h4>Value: {{ dealer.cards[0].value }}</h4>
			<img :src="dealer.cards[0].image" class="img-class" />
		</div>
		<div v-else>
			<h4>Value: {{ getDealerScore }}</h4>
			<img
				v-for="(card, index) in dealer.cards"
				:key="index"
				:src="card.image"
				class="img-class me-2"
			/>
		</div>
		<p v-if="this.lost">YOU WON!!</p>
		<p v-if="this.win">DEALER WINS!!</p>
	</div>
</template>

<script>
import { mapGetters, mapState, mapActions, mapMutations } from 'vuex';
export default {
	name: 'Dealer',
	data() {
		return {
			amountToDraw: null,
			lost: false,
			win: false,
		};
	},
	computed: {
		...mapState(['dealerActive', 'dealer']),
		...mapGetters(['getDealerScore', 'getPlayerScore']),
	},
	methods: {
		...mapActions(['fetchCards']),
		...mapMutations(['setAmountToDraw', 'setGameActive', 'setDealerActive']),
	},
	created() {
		this.amountToDraw = 2;
		this.setAmountToDraw(this.amountToDraw);
		this.fetchCards('dealer');
	},
	updated() {
		if (this.dealerActive) {
			if (this.getDealerScore < 17) {
				this.amountToDraw = 1;
				this.setAmountToDraw(this.amountToDraw);
				this.fetchCards('dealer');
			} else if (this.getDealerScore > 21) {
				this.lost = true;
				setTimeout(() => {
					this.setDealerActive(false);
					this.setGameActive(false);
				}, 5000);
			} else if (this.getDealerScore > this.getPlayerScore) {
				this.win = true;
				setTimeout(() => {
					this.setDealerActive(false);
					this.setGameActive(false);
				}, 5000);
			} else {
				this.lost = true;
				setTimeout(() => {
					this.setDealerActive(false);
					this.setGameActive(false);
				}, 5000);
			}
		}
	},
};
</script>
