<template>
	<div class="player">
		<h1>Hello {{ player.name }}!</h1>
		<hr />
		<h4>Value: {{ getPlayerScore }}</h4>
		<img
			v-for="(card, index) in player.cards"
			:key="index"
			:src="card.image"
			class="img-class me-2"
		/>
		<div class="player-actions">
			<button class="btn btn-success me-2 my-2" @click="hit">Hit Me!</button>
			<button class="btn btn-primary" @click="hold">Hold</button>
		</div>
		<div class="game-response">
			<p v-if="busted">YOU BUSTED!</p>
			<p v-if="blackjack">BLACKJACK!! YOU WIN!!</p>
		</div>
	</div>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';
export default {
	name: 'Player',
	data() {
		return {
			amountToDraw: null,
			busted: false,
			blackjack: false,
		};
	},
	computed: {
		...mapState(['player']),
		...mapGetters(['getPlayerScore']),
	},
	methods: {
		...mapActions(['fetchCards']),
		...mapMutations(['setAmountToDraw', 'setGameActive', 'setDealerActive']),
		hit() {
			this.amountToDraw = 1;
			this.setAmountToDraw(this.amountToDraw);
			this.fetchCards('player');
		},
		hold() {
			this.setDealerActive(true);
		},
	},
	created() {
		this.amountToDraw = 2;
		this.setAmountToDraw(this.amountToDraw);
		this.fetchCards('player');
	},
	updated() {
		if (this.getPlayerScore > 21) {
			this.busted = true;
			setTimeout(() => {
				this.setGameActive(false);
			}, 5000);
		} else if (this.getPlayerScore == 21) {
			this.blackjack = true;
			setTimeout(() => {
				this.setGameActive(false);
			}, 5000);
		}
	},
};
</script>
