<template>
	<div id="app">
		<div class="intro" v-if="!gameActive">
			<label for="playerName" class="label-control mb-2">Enter Username</label>
			<input
				type="text"
				name="playerName"
				class="form-control"
				v-model="playerName"
				autocomplete="off"
			/>
			<button class="btn btn-primary mt-2" @click="addPlayer">
				Start game of blackjack!
			</button>
		</div>
		<div class="game" v-else>
			<Player />
			<Dealer />
		</div>
	</div>
</template>

<script>
import Player from './components/Player.vue';
import Dealer from './components/Dealer.vue';
import { mapMutations, mapActions, mapState } from 'vuex';

export default {
	name: 'App',
	data() {
		return {
			playerName: '',
		};
	},
	computed: {
		...mapState(['gameActive', 'dealerActive']),
	},
	components: {
		Player,
		Dealer,
	},
	methods: {
		...mapActions(['fetchNewDeck']),
		...mapMutations(['setPlayerName', 'setGameActive', 'clearDecks']),
		addPlayer() {
			if (this.playerName.length >= 2) {
				this.startGame = true;
				this.setPlayerName(this.playerName);
				this.clearDecks();
				this.setGameActive(true);
			}
		},
	},
	created() {
		this.fetchNewDeck();
	},
};
</script>

<style>
.game,
.intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.player,
.dealer {
	width: 50vw;
}

.img-class {
	width: 20%;
}

.form-control {
	width: 25%;
}
</style>
